html {font-size: 100px;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; }
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {display: block;}
// body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
h1, h2, h3, h4, h5, h6, button, input, select, textarea{ font-size: 100%; }
li { list-style: none; }
a { text-decoration: none; }
:focus {outline: none;}
textarea{overflow: auto; resize: none;}
fieldset, img {border: 0;}
// img {border: none; display: block; /*vertical-align: top;*/}
table { border-collapse:collapse; border-spacing:0; }
.clearfix:after {content: ""; display: block; clear: both;}
// .clearfix {zoom: 1}  /*IE6*/
.fl {float: left;}
.fr {float: right;}