<h3>add user</h3>
<form role="form" class="form-horizontal">
	<div class="form-group">
		<label class="col-md-2 control-label">
			email:
		</label>
		<div class="col-md-10">
			<input type="email" class="form-control" placeholder="input your email">
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">
			pwd:
		</label>
		<div class="col-md-10">
			<input type="password" class="form-control" placeholder="input your pwd">
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<div class="checkbox">
				<label>
					<input type="checkbox">autoLogin
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<button class="btn btn-primary" ng-click="backToPrevious()">
				Go Back
			</button>
		</div>
	</div>
</form>