<div class="row">
	<div class="col-md-2">
		<h3>high user</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-bordered table-hover table-condensed">
			<thead>
				<tr>
					<th>index</th>
					<th>name</th>
					<th>age</th>
					<th>production</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="2">AAA</td>
					<td>BBBB</td>
					<td>CCC</td>
					<td>DDD</td>
				</tr>
				<tr>
					<td>EEE</td>
					<td>FFF</td>
					<td>GGG</td>
				</tr>
				<tr>
					<td>III</td>
					<td>JJJ</td>
					<td>KKK</td>
					<td>LLL</td>
				</tr>
				<tr>
					<td>MMM</td>
					<td colspan="2">OOO</td>
					<td>PPPP</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>